h1{
  margin-bottom: 0px;
}
form{
  display: flex;
  flex-direction: column;
}
label{
  width: 100px;
  font-size: 1.1rem;
  font-weight: 500;
  border-right: 1px solid lightgray;
  padding: .5rem 0rem .35rem .5rem;
}
form div{
  display: flex;
  border: 1px solid lightgray;
  border-radius: .25rem;
  align-items: center;
  margin: .5rem 0;
  box-shadow: 0px 0px 0px rgba(0,0,0,.5);
  overflow: hidden;
  transition: .2s;
}
form div.focus{
  transition: .3s;
  box-shadow: 0px 0px 7px rgba(0,0,0,.2);
  border: 1px solid transparent;
  transform: scale(1.01);
}
input{
  border: none;
  padding: .5rem .5rem .35rem;
  outline: none;
  font-size: 1rem;
  width: 100%;
}
button[type='submit']{
  cursor: pointer;
  padding: .7rem;
  border-radius: .25rem;
  margin-top: 1rem;
  background-color: limegreen;
  color: white;
  border: none;
  transition: font-size .2s;
  font-size: 1.2rem;
}
button[type='submit'] p{
  font-weight: 500;
  transition: .2s;
}

button[type='submit']:hover{
  transition: .3s;
  box-shadow: inset -2px -2px 10px rgba(0, 0, 0, .2), 2px 2px 10px rgba(0, 0, 0, .5);
  transform: scale(.9) rotate(1deg);
}
button[type='submit']:hover p{
  transition: .3s;
  text-shadow: 0px 0px 1px lightgray;
}

#modal{
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 1.25rem;
  color: white;
  font-weight: 600;
  border-radius: .5rem;
}
.hidden{
  display: none;
}
#modal.error{
  box-shadow: 0px 0px 5px rgba(255, 68, 0,.5);
  background-color: orangered;
  border: 1px solid orangered;
}
.success{
  box-shadow: 0px 0px 10px rgba(50, 200, 50,.5);
  background-color: rgb(22, 200, 22);
  border: 1px solid limegreen;
}

#modal p{
  line-height: 1;
}

#randomData{
  margin-top: 1rem;
  background-color: white;
  border: 1px solid dodgerblue;
  color:  rgba(30, 144, 255, .7);
  padding: .5rem .7rem;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  align-self: center;
  transition: .1s;
}
#randomData:hover{
  color: dodgerblue;
  border-width: 2px;
  text-shadow: 0px 0px 1px rgba(30, 144, 255, .5);
  box-shadow: 2px 2px 5px rgba(30, 144, 255, .5);
  border-radius: .5rem;
  padding: .3rem .5rem;
  transition: .2s;
  margin-bottom: .3rem;
}